{% extends "base.html" %}
{% block scripts %}
    <script>
        function deleteMessage(msg_id) {
            $.ajax({
                url: "/{{ username }}/message/" + msg_id + "/",
                type: "DELETE"})
            .done(function(data, statusText, xhr){
                location.reload(true);
            }).fail(function(data, statusText, xhr){
                alert("Error: delete failed");
                location.reload(true);
            });
        };
    </script>
{% endblock %}
{% block body %}
    <p>Logged in as: {{ username }}</p>

    <form action="/{{ username }}/message/" method="post">
        <p>Recipient:<input type=text name=receiver>
        <p>Message:<input type=text name=message>
        <p><input type=submit value=Send>
    </form>
    <ul>
    {% for message in messages %}
        <li>[{{ message.timestamp }}] Message from {{ message.sender.username }}: {{ message.message }}&nbsp;
            <a href="javascript:deleteMessage({{ message.id }});">Delete</a></li>
    {% else %}
        <li>No messages for {{ username }} yet.</li>
    {% endfor %}
    </ul>
{% endblock %}